body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-weight: bold;
}

.background {
background-color: pink;
}

.align {
text-align: center;
}

.variable {
    color: red;
    font-style: italic;
    font-weight: bold;
}

















