.chess {
    border: 1px solid black;
    border-spacing: 0;
}


.chess tr:first-child td,
.chess tr:last-child td {
    width: 50px;
    /* height: 50px; */
    background-color: #8B4513;
    text-align: center;
}

.chess tr td:first-child,
.chess tr td:last-child {
    background-color: #8B4513;
    text-align: center;
    height: 50px;
}

.chess tr:nth-child(odd):not(:first-child) td:nth-child(odd):not(:first-child) {
    background-color: black;
    width: 100px;
    height: 100px;
}

.chess tr:nth-child(even):not(:last-child) td:nth-child(even):not(:last-child) {
    background-color: black;
    width: 100px;
    height: 100px;
}


.chess tr:nth-child(odd):not(:first-child) td:nth-child(odd):not(:first-child):hover,
.chess tr:nth-child(even):not(:last-child) td:nth-child(even):not(:last-child):hover,
.chess tr:nth-child(odd):not(:first-child) td:nth-child(even):not(:last-child):hover,
.chess tr:nth-child(even):not(:last-child) td:nth-child(odd):not(:first-child):hover {
    /* background-color: red !important; */
    background-image: url(chess.png);
    background-size: cover;
    background-repeat: no-repeat;
}
