
body {
    display: flex;
    justify-content: center;
    background-color: rgb(180, 88, 88);
}

.form1 {
    width: 20rem;
    height: 25rem;
    background-color: rgb(206, 206, 206);
    box-shadow: -1px -1px 25px black;
}

.form1 h3 {
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 2rem;
    text-align: center;
    padding-top: 30px;
}

.form1 form div:first-child, .form1 form div:nth-child(2), .form1 form div:nth-child(3) {
    margin: 2rem;
    width: auto;
    height: 3rem;
}

.form1 form div:first-child input, .form1 form div:nth-child(2) input {
    width: 100%;
    height: 100%;
    color: rgb(143, 143, 143);
    text-align: center;
    font-size: 1.5rem;
    border: none;
}

.form1 form a {
    text-decoration: none;
}

.form1 form a div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bolder;
    font-size: 1.5rem;
    background-color: yellowgreen;
    border: none;
    border-bottom: 2px solid rgb(105, 141, 34);
}

.form1 form div:last-child {
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

.form1 form div:last-child a {
    color: rgb(189, 64, 6);
    text-decoration: none;
}

.form2 {
    width: 20rem;
    height: 5rem;
}

.form2 p {
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.form2 .container  {
    display: flex;
    justify-content: space-between;
}

#facebook {
    height: 3rem;
    width: 8rem;
    background-image: url(images/facebook_logo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: -1px -1px 8px rgb(34, 34, 34);
}

#twitter {
    height: 3rem;
    width: 8rem;
    background-image: url(images/twitter-logo-1024x385.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: -1px -1px 8px rgb(34, 34, 34);
}