.content {
    width: 1000px;
    height: 500px;
    background-color: rgb(194, 191, 191);
    position: absolute;
    left: 100px;
    top: 50px;

}

.box {
    width: 200px;
    height: 350px;
    float: left;
    background-color: white;
    margin-right: 20px;
    margin-top: 75px;
    border-radius: 10px;
    box-shadow: -1px -1px 20px black;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

.content .box:last-child {
    margin-right: 70px;
}

.content .box:first-child {
    margin-left: 70px;
}

H2 {
    font-size: 1rem;
    padding-bottom: 10px;
    padding-top: 12px;
}

.box h2:first-child {
    border-bottom: 4px solid palevioletred;
}

.content .box:nth-child(2) h2:first-child {
    border-bottom: 4px solid darkorange;
}

.content .box:nth-child(3) h2:first-child {
    border-bottom: 4px solid darkslateblue;
}

.content .box:last-child h2:first-child {
    border-bottom: 4px solid darkolivegreen;
}

.box p:first-of-type {
    font-size: 2.5rem;
    margin-top: 1.1rem;
    margin-bottom: 1rem;
}

.box p:nth-of-type(2) {
    font-size: 1.1rem;
    margin-top: 1rem;
    opacity: 0.3;
}

.box p:nth-of-type(3), .box p:nth-of-type(4), .box p:nth-of-type(5), .box p:nth-of-type(6){
    font-size: 0.8rem;
    font-weight: bolder;
}

.box button {
    padding: 10px 27px;
    border-radius: 5px;
    color: white;
    border: none;
}

.content .box:first-child button {
    background-color: palevioletred;
}

.content .box:nth-child(2) button {
    background-color: darkorange;
}

.content .box:nth-child(3) button {
    background-color: darkslateblue;
}

.content .box:last-child button {
    background-color: darkolivegreen;
}

.content .box:first-child:hover {
 transform: scale(1.2);
 transition-duration: 1s;
}

.content .box:nth-child(2):hover {
    transform: scale(1.2);
    transition-duration: 1s;
}

.content .box:nth-child(3):hover {
    transform: scale(1.2);
    transition-duration: 1s;
}

.content .box:last-child:hover {
    transform: scale(1.2);
    transition-duration: 1s;
}