table {
    border-collapse: collapse;
}

#firsthead {
background-color: #8e9ab6;
color: white;
border-radius: 10px 0 0 0;
width: 15rem;
}

#secondhead {
    background-color: #576892;
    color: white;
    width: 8rem;
}

#thirdhead {
    background-color: #324470;
    color: white;
    width: 8rem;
}

#fourthhead {
    background-color: #25365c;
    color: white;
    width: 8rem;
}

#fifthhead {
    background-color: #223050;
    color: white;
    border-radius: 0 10px 0 0;
    width: 8rem;
}

.money {
    font-size: 1.8rem;
    margin-bottom: -1rem;
    width: 8rem;
}

tbody tr:nth-child(odd) {
    background-color: #d5d7db;
}

tbody tr:nth-child(even) {
    background-color: #e6e6e6;
    }

tbody tr:nth-child(odd) td:nth-child(even) {
        background-color: #e9e9e9;
    }
  
tbody tr:nth-child(even) td:nth-child(even) {
        background-color: #f5f7f7;
    }   
    
tbody tr:last-child td {
    text-align: center;
}

tbody tr:last-child td:first-child  {
    border-radius: 0 0 0 10px;
}

tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

tbody tr td {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

tbody tr td:first-child {
    text-align: left;
    padding-left: 30px;
}

button {
    padding: 5px 25px;
    background-color: rgb(173, 173, 173);
    border: 1px solid rgb(124, 124, 124);
    color: rgb(82, 82, 82);
    text-transform: uppercase;
}