

body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    min-width: 320px;
}

h2 {
    margin: 20px 60px;

}
  
p {
    font-size: 1.2rem;
    margin: 0 60px;
    text-align: justify;
}

.container {
    position: fixed;
    top: 0;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    padding: 1rem 2rem;
    margin: 0.5rem;
    background-color: white;
    width: 40%;
    height: 40%;
    border-radius: 20px;
    min-width: 240px;
}

.container .modal h2 {
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    margin: 1rem auto;
    font-weight: normal;
    font-size: 1.2rem;
}

.container .modal p {
    padding-bottom: 1rem;
    margin: 2rem auto;
    font-weight: normal;
    font-size: 1rem;
    text-align: justify;
}

#x {
    text-align: right;
    margin: 0;
    font-size: 2rem;
    font-weight: bolder;
}