body {
    margin: 0;
    min-width: 600px;
    max-width: 1200px;
    font-family: sans-serif;
    background-color: rgb(164, 171, 184);
}

header {
    width: 100vw;
    display: flex;
    background-color: rgb(51, 51, 51);
    color: white;
}

header p {
    padding-left: 50px;
    padding-right: 40px;
    font-weight: bold;
    font-size: 1.3rem;
}

header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-left: 0;
    height: 100%;
    margin: 0;
}

header ul li {
    margin-left: 1.5rem;
    text-align: center;
    color: rgb(201, 200, 200);
}


.content {
    margin: 50px 50px 10px 50px;
    display: grid;
    grid-template-areas: 
    "text text text text text menu menu"
    "text text text text text right-text right-text"
    "text text text text text . ."
    ;
    grid-gap: 20px;
}

.text {
    background-color: rgb(241, 241, 241);
    grid-area: text;
}

.menu {
    background-color: rgb(241, 241, 241);
    grid-area: menu;
}

.right-text {
    background-color: rgb(241, 241, 241);
    grid-area: right-text;
}

.text h1 {
    font-size: 1.2rem;
    margin-left: 50px;
}

.text p {
    margin-left: 50px;
    color: rgb(146, 146, 146);
    font-size: 0.8rem;
}

.text img {
    width: 100%;
}

.text #text {
    font-size: 1rem;
    color: black;
    margin-right: 50px;
}

.menu h2{
    font-weight: bolder;
    font-size: 1rem;
    margin-left: 20px;
}

table tr td {
    padding: 0;
}

table tr td img {
    width: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

table tr td p {
    margin: 0 20px 15px 0;
}

table tr:last-child td p, table tr:last-child td img {
    margin-bottom: 30px;
}

.right-text p {
    padding: 20px;
    margin: 0;
}