

img {
    filter: grayscale();
    width: 300px;
    height: 300px;
    position: absolute;
    left: 300px;
    top: 200px;
    
}

img:hover {
    transform: scale(5);
    filter: none;
    transition-duration: 5s;
}