body {
    width: 100vw;
    height:100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(45, 134, 45);
}

header {
    background-color: rgb(33, 102, 33);
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.2rem;
    height: 5rem;
    display: flex;
    align-items: center;
}

h2 {
    margin: 0 4rem;
    font-size: 1.2rem;
}

.content {
    display: grid;
    grid-template-columns: repeat(5, minmax(300px, 400px));
    grid-template-rows: 28rem;
    grid-gap: 2rem;
    overflow-x: scroll;
    padding: 2rem;
}

.box {
    background-color: rgb(185, 184, 184);
    border-radius: 5px;
}

.h2 {
    width: 100%;
    height: 3rem;
    display: inline-flex;
    align-items: center;
}

.h2 h2 {
    font-size: 1rem;
    margin-left: 2rem;
}

.mess-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.mess {
    background-color: rgb(207, 207, 207);
    border-radius:8px;
    padding: 0.8rem 0.8rem 0.4rem;
    font-size: 0.8rem;
}

.mess-box:nth-child(2) {
    grid-template-rows: repeat(5, auto);
}

.box:nth-child(2) {
    overflow-y: scroll;
}

.mess p {
    margin: 0 0 0.5rem 0;
}

.menu img {
    width: 0.8rem;
    margin-left: 0.7rem;
}

.img1 img {
    margin-left: 0;
}

.mess-bottom {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.avatar {
    width: 2rem;
}

.avatar img {
    width: 100%;
}