.box {
    border: 1px solid black;
    margin: 1rem 2rem;
    width: auto;
    height: auto;
    min-width: 320px;
}

#image {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: auto;
}

#image img {
    width: 100%;
}

#loading {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: auto;
}

#bar {
    width: 100%;
    height: 2rem;
    border: 1px solid blue;

}

#bar p:first-child {
    float: left;
    width: 40%;
    background-color: rgb(160, 197, 197);
    height: 100%;
    margin: 0;
    font-size: 0.5rem;
    line-height: 400%;
    padding-left: 0.5rem;
}

#bar p:last-child {
    float: right;
    width: 50%;
    height: 100%;
    margin: 0;
    font-size: 0.47rem;
    line-height: 400%;
    text-align: right;
    padding-right: 0.5rem;
}

#bar p:last-child {
    float: right;
}

#content h2 {
    font-weight: bolder;
    font-size: 1.2rem;
}

#button {
    margin: 2rem;
    width: auto;
}

#button button {
    width: 100%;
    padding: 1rem;
    background-color: rgb(45, 45, 112);
    font-weight: bolder;
    color: white;
    font-size: 1rem;
    border: none;
}

@media screen and (min-width:600px) {
    
    .box {
        border: 1px solid black;
        margin: 1rem 2rem;
        width: auto;
        height: 10rem;
        max-width: 900px;
    }
    
    #image {
        float: left;
        margin-top: 2rem;
        margin-left: 1rem;
        width: 28%;
        max-height: 6rem;
        margin-right: 0.5rem;
    }

    #image img {
        max-height: 6rem;
    }

    #loading {
        float: left;
        margin-top: 2rem;
        margin-left: 0.5rem;
        margin-right: 0.4rem;
        width: 40%;
    }

    #bar {
        height: 1rem;
    }

    #content h2 {
        font-weight: bolder;
        font-size: 1rem;
    }

    #button {
        float: right;
        margin-top: 2rem;
        margin-left: 0.5rem;
        margin-right: 1rem;
        width: 20%;

    }

    #bar p:first-child {
        line-height: 250%;
    }
    
    #bar p:last-child {
        line-height: 250%;
    }

    #button button {
        padding: 0.3rem;
    }

    #content h2 {
        font-size: 0.6rem;
    }

    #content p {
        font-size: 0.6rem;
    }

}