body {
    background-image: url(images/image.jpg);
    background-attachment: fixed;
}

div {
    background-color: rgba(101, 134, 243, 0.3);
    margin: 0 150px 0 150px;
    padding: 20px 40px 5px 40px;
}