body {
   font-family: sans-serif;
   margin: 0 auto;
   text-align: center;
}

#div1 {
    width: 634px;
    border: 1px solid #d4d1ec;

}

h1 {
    margin-bottom: 80px;
    margin-top: 50px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

li {
    float: left;
}

img {
    border: 1px solid #d4d1ec;
    padding: 20px;
}

div {
    margin: 0 auto;
    width: 636px;
}